body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: skyblue;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: #ff0000;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product-image {
    margin-right: 20px;
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

.buy-now,
.view {
    display: inline-block;
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.buy-now:hover,
.view:hover {
    background-color: #87CEFA;
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail {
    width: 75px;
    cursor: pointer;
}

.thumbnail:hover {
    opacity: 0.7; 
}

#main-image {
    max-width: 300px;
    display: block;
}

.product-info {
    max-width: 400px;
}

.product-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: skyblue;
    color: white;
}

.footer {
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 20px;
}

.full-width-image {
    width: 100%;
    max-height: 1000px; 
    margin-top: 20px; 
    object-fit: cover;
}

.contact-details {
    width: 45%; /* Adjust width as needed */
}

.contact-form {
    width: 45%; /* Adjust width as needed */
}

.contact-form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #87CEFA;
}

.map {
    margin-top: 20px; /* Add space between form and map */
    text-align: center;
}

.map img {
    max-width: 100%;
    height: auto;
}